body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1672px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:177px;
  width:399px;
  height:372px;
  display:flex;
  transition:none;
}
#u4978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:372px;
}
#u4978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:394px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:394px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4980_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4980 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4980_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4980.disabled {
}
.u4980_input_option {
}
#u4981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u4981 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4982_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4982 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4982_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4982.disabled {
}
.u4982_input_option {
}
#u4983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u4983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4984_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:49px;
  width:155px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4984 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4984_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4984.disabled {
}
.u4984_input_option {
}
#u4985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:55px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u4985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:116px;
  width:320px;
  height:147px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u4987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u4987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:96px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u4988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u4988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:89px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u4989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u4989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u4990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u4990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:55px;
  height:29px;
  display:flex;
  transition:none;
}
#u4991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u4991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:96px;
  height:29px;
  display:flex;
  transition:none;
}
#u4992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:32px;
  width:89px;
  height:29px;
  display:flex;
  transition:none;
}
#u4993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u4993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:32px;
  width:80px;
  height:29px;
  display:flex;
  transition:none;
}
#u4994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u4994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u4995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u4995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:61px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
}
#u4996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u4996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:61px;
  width:89px;
  height:28px;
  display:flex;
  transition:none;
}
#u4997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u4997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:61px;
  width:80px;
  height:28px;
  display:flex;
  transition:none;
}
#u4998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u4998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:55px;
  height:30px;
  display:flex;
  transition:none;
}
#u4999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u4999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:89px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u5000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u5000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:89px;
  width:89px;
  height:30px;
  display:flex;
  transition:none;
}
#u5001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u5001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:89px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
}
#u5002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u5002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:55px;
  height:28px;
  display:flex;
  transition:none;
}
#u5003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:28px;
}
#u5003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:119px;
  width:96px;
  height:28px;
  display:flex;
  transition:none;
}
#u5004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u5004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:119px;
  width:89px;
  height:28px;
  display:flex;
  transition:none;
}
#u5005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
}
#u5005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:119px;
  width:80px;
  height:28px;
  display:flex;
  transition:none;
}
#u5006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u5006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:466px;
  width:373px;
  height:101px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5007 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
