body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2724px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:356px;
  display:flex;
  transition:none;
}
#u5042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:356px;
}
#u5042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:447px;
  width:988px;
  height:310px;
  display:flex;
  transition:none;
}
#u5043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:310px;
}
#u5043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:0px;
  width:1282px;
  height:334px;
  display:flex;
  transition:none;
}
#u5044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:334px;
}
#u5044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:461px;
  width:547px;
  height:329px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5045 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
