body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1288px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:315px;
  display:flex;
  transition:none;
}
#u5055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1288px;
  height:315px;
}
#u5055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:398px;
  width:487px;
  height:418px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5056 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
