body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:663px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4991_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:27px;
  width:260px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4991_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(193, 230, 242, 1);
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4991.mouseOver {
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:61px;
  width:300px;
  height:253px;
  visibility:hidden;
}
#u4992_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:253px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4992_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:47px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:60px;
  width:54px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:60px;
  width:56px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3px;
  width:32px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:253px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#545454;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:5px;
  width:40px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#545454;
}
#u4999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#545454;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:5px;
  width:20px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#545454;
}
#u5000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#545454;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:5px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#545454;
}
#u5001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#545454;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:5px;
  width:20px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#545454;
}
#u5002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:10px;
  height:12px;
  display:flex;
  transition:none;
  color:#545454;
}
#u5003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u5003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:11px;
  width:7px;
  height:12px;
  display:flex;
  transition:none;
  color:#545454;
}
#u5004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:11px;
  width:10px;
  height:12px;
  display:flex;
  transition:none;
  color:#545454;
}
#u5005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u5005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:11px;
  width:7px;
  height:12px;
  display:flex;
  transition:none;
  color:#545454;
}
#u5006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#545454;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 Bold", "宋体 常规", "宋体", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#545454;
}
#u5009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:34px;
  width:40px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"宋体 常规", "宋体", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#545454;
}
#u5013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u5015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u5015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u5015_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015.mouseOver {
}
.u5015_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015.selected {
}
.u5015_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015.disabled {
}
.u5015_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015.mouseOver.selected {
}
.u5015_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u5015.selected.disabled {
}
.u5015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:280px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:27px;
  width:40px;
  height:34px;
}
#u5016_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5016_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:20px;
  height:22px;
  display:flex;
  transition:none;
}
#u5018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u5018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5016_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5016_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(193, 230, 242, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:20px;
  height:22px;
  display:flex;
  transition:none;
}
#u5020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u5020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:33px;
  width:77px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u5021 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:663px;
  height:178px;
  display:flex;
  transition:none;
}
#u5022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:178px;
}
#u5022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:288px;
  width:259px;
  height:220px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5023 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
